.expandBtn{
    border: none;
    background: none;
    transition: .3s;
    text-decoration: none;
}

.expandBtn:hover{
    color: var(--alt-accent) !important;
}

.gamesContainer{
    gap: 20px; 
    overflow: scroll;
    max-height: auto;
}

@media screen and (min-width: 1367px) {
    .gamesContainer{
        flex-wrap: wrap;
    }
}